<p>typescript-demo works!</p>


{{arrNumbers | json}}
<p>
  incremented Array : {{incrementedArr | json}}
</p>

<p>
  Value of x : {{x}}
</p>


<!-- // Remove duplicate from an array -->

<!-- // find total count of all values in an array -->

<h3>Assign values to Employee object</h3>

<p> fname : {{emp1.firstName + ',' + emp1.lastName + ' ' + 3+3}}</p>
<p> {{3+3 * 4}}</p>

<p> lname : {{emp1.lastName}}</p>

<h3>Assign values to array of Object</h3>

<p> fname : {{emp2.firstName + ',' + emp2.lastName }}</p>

<p> lname : {{emp2.lastName}}</p>

<h3>Json Array</h3>

<p>
  {{empArr | json}}
</p>

<p>Copied array</p>

{{newArr |json}}
