.bg-yellow {
  background-color: yellow;
}

.login-height {
  height: 100vh;
}

.login-box {
  background-color: white;
  padding: 50px;
  border: solid 1px #000000;
  height: 50vh;
}

.is-invalid {
  color: red;
}
