<div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start stretch">
  <div fxFlex="30" class="color-yellow" fxLayout="row wrap" fxLayoutAlign="start start">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa, aliquam. Veritatis sit distinctio iste. Eligendi,
    nulla vero animi consequuntur dolorem veniam consectetur nam, ea ipsum, assumenda nisi numquam quidem provident
    dolorum neque?
  </div>
  <div fxFlex="30" class="color-green" fxLayout="row wrap" fxLayoutAlign="start start">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa, aliquam. Veritatis sit distinctio iste. Eligendi,
    nulla vero animi consequuntur dolorem veniam consectetur nam, ea ipsum, assumenda nisi numquam quidem provident
    dolorum neque?
  </div>
</div>

<div> value from observable demo : {{obsDemoValue}}</div>
